.home {
  height: 100vh;
  max-height: 750px;
  position: relative;
}
@media screen and (orientation: landscape) {
  .home {
    height: 600px;
  }
}

@media screen and (max-width: 576px) {
  .home {
    max-height: 600px;
  }
}
