.home {
  height: 100vh;
  max-height: 750px;
  position: relative;
}

/* Detecting phone landscape orientation */
@media screen and (max-width: 915px) and (orientation: landscape) {
  .home {
    min-height: 600px;
    height: 100vh;
  }
}

@media screen and (max-width: 576px) {
  .home {
    max-height: 600px;
  }
}
