* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html,
body,
:root {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Gilroy, sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    124deg,
    rgba(0, 0, 0, 1) 45%,
    rgb(19, 126, 126) 70%
  );
  color: #fff;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  object-fit: cover;
}

.container {
  max-width: 1400px;
  padding: 0 3rem;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.centeredY {
  display: flex;
  align-items: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer {
  position: absolute;
  background: rgb(6, 174, 157);
  filter: blur(200px);
  border-radius: 50%;
  z-index: -1;
}

.custom-btn {
  color: #2e2e2e;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 24px 40px;
  border-radius: 80px;
  cursor: pointer;
  border: none;
}

.custom-btn:active {
  scale: 0.98;
}

.heading {
  margin: 3rem 0;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}
.heading > span {
  background: #000;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.gradient-border {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.4) -1.52%,
    rgba(255, 255, 255, 0.01) 104.35%
  );
  border-image-slice: 1;
}

.gradient-bg {
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.1) -1.52%,
    rgba(255, 255, 255, 0.01) 104.35%
  );
}

.sticky {
  backdrop-filter: blur(5px);
  background: linear-gradient(
    0deg,
    rgba(6, 62, 62, 0.689) 0%,
    rgba(0, 0, 0, 0.704) 100%
  );
  padding: 1.7rem 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 2.5rem;
  }
  .heading {
    font-size: 40px;
    line-height: 68px;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    margin: 2.5rem 0;
    font-size: 37px;
    line-height: 60px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 1rem;
  }
  .sticky {
    backdrop-filter: blur(5px);
    background: linear-gradient(
      0deg,
      rgba(6, 62, 62, 0.689) 0%,
      rgba(0, 0, 0, 0.704) 100%
    );
    padding: 1.2rem 0;
  }
  .custom-btn {
    font-weight: 800;
    font-size: 12px;
  }
  .heading {
    margin: 2rem 0;
    font-size: 35px;
    line-height: 50px;
  }
}
